################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/C_Programs_ENG175/FileContentIndex/07ff8d14-a85b-4b6c-a8a8-8f0beb5469ca.vsidx
/.vs/C_Programs_ENG175/FileContentIndex/7d3bec70-358e-400e-b191-f0d32dcf2ca9.vsidx
/.vs/C_Programs_ENG175/FileContentIndex/9cd75716-7266-4e4b-adf8-158602c0a9ed.vsidx
/.vs/C_Programs_ENG175/FileContentIndex/f81fdac2-968e-4bd1-9843-a852369925ed.vsidx
/.vs/C_Programs_ENG175/v17/Browse.VC.db
/.vs/C_Programs_ENG175/v17/Browse.VC.db-shm
/.vs/C_Programs_ENG175/v17/Browse.VC.db-wal
/.vs/C_Programs_ENG175/v17/Browse.VC.opendb
